/* GENERAL */
html, body{
    font-family: Futura, "Trebuchet MS",Arial,sans-serif;
    padding:0;
    margin:0;
}

body{
    background-image: url(assets/background.png);
}

#container{
    margin-left:10%;
    margin-right:10%;
}

#round-container{
    margin-left:5%;
    margin-right:5%;
}

@media screen and (max-width:700px) {
    #container{
        margin-left:10px;
        margin-right:10px;
    }
    #round-container{
        margin-left:10px;
        margin-right:10px;
    }
}

#div-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    /* grid-template-columns: repeat(auto-fit,minmax(400px,1fr)); */
}

#div-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

#join-link-div {
    cursor: pointer;
    display: inline;
}

/* #play-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
} */

/* TEXT */

h1{
    font-size: 40pt;
    margin-bottom: 5px;
}

.info{
    font-style: italic;
}

a{
    color: #ca4016;
}

table{
    width:90%;
    border-collapse: collapse;
    border-radius:10px;
}

li{
    font-size:20pt;
    cursor:pointer;
}

li:hover{
    text-decoration: underline;
}

td{
    font-size:20pt;
    border:3px solid black;
    padding:5px;
}



/* BOXES/BUTTONS */

.box{
    background-color: #f9a538;
    border-radius:10px;
    padding:20px;
    margin:10px;
    border: 4px solid black;
}

button{
    background-color: rgb(249, 214, 56);
    border-radius:10px;
    display: block;
    width: 100%;
    border: 4px solid black;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-family: Futura, "Trebuchet MS",Arial,sans-serif;
    font-size:20pt;
    position:relative;
    top:-5px;
    left:-5px;
    filter:drop-shadow(5px 5px 0px rgb(29, 29, 29));    
}

button:hover{
    top:0px;
    left:0px;
    filter:none; 
}

input{
    background-color: rgb(250, 248, 237);
    border-radius:10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 4px solid black;
    padding: 10px;
    font-family: Futura, "Trebuchet MS",Arial,sans-serif;
    font-size:20pt;
}

/* CARDS */
.card{
    width:10%;
    position:relative;
    border-radius:25%;
    top:-5px;
    left:-5px;
    cursor: pointer;
    user-select: none;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
#card-piles{
    text-align:center;
}

#card-piles .card{
    width: 15%;
    display:inline-block;
    margin:10px;
}

.card:hover{
    top:0px;
    left:0px;
}

.hand-card:focus img{
    filter:drop-shadow(5px 5px 0px rgb(236, 232, 27));
}

.card img{
    width:100%;
    filter:drop-shadow(5px 5px 0px rgba(29, 29, 29, 0.562));
    user-select: none;
}
.card:hover img{
    filter:none;
}
.card p{
    font-size:60pt;
    text-align: center;
    position:absolute;
    width:100%;    
    display:block;
    top:50%;
    transform: translateY(-50%);
    margin:0;
    padding:0;
    filter:grayscale(1);
    user-select: none;
}

/* Phase Piles */
#phase-grid {
    gap:10px;
}

.pile-grid{
    display:grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}
.pile-name{
    top:-5px;
    left:-5px;
    cursor:pointer;
    margin-top:0px;
    margin-bottom: 2px;
}

.pile-name:hover{
    top:0px;
    left:0px;
}

.phase-pile {
    border-radius:10px;
    padding:10px;
    margin:5px;
    position:relative;
    border: 4px solid black;
    display:grid;
}

.pile-cards-div{
    display: inline-flex;
    overflow-x: hidden;
}

.pile-card-div{
    width:10%;
}

.pile-card{
    width:200%;
}

/* Hand */

#card-grid{
    text-align:center;
    /* display:inline-block; */
    /* width : 100%; */
}

/* #card-grid{
    display : inline-flex;
    overflow-x: hidden;
} */


#card-grid .hand-card{
    width: 8%;
    margin:2px;
    display: inline;
}

.hand-card:hover img{
    top:0px;
    left:0px;
    filter:none;
}

.hand-card img {
    width : inherit;
    position:relative;
    top:-5px;
    left:-5px;
    filter:drop-shadow(5px 5px 0px rgba(29, 29, 29, 0.562));
    cursor: pointer;
    user-select: none;


    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
/* Current standings */

.player-info{
    border-radius:10px;
    padding:10px;
    margin:5px;
    position:relative;
    border:4px solid transparent;

    /* display:grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    gap:10px; */
}

.player-info h2{
    margin:0px;
}

.marker-card-div{
    position:relative;
    width : 100%;
    display:inline-block;
    height :auto;
    min-height :  100%;
}

.marker-card{
    position:absolute;
    top:0;
    width:15%;
    filter:drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.562));
}






/* kind of worked */

/* #phase-grid{
    display:grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    gap:10px;
}

.phase-pile {
    border-radius:10px;
    padding:10px;
    margin:5px;
    position:relative;
    background-color: #f9a538;
    border: 4px solid black;
    display:grid;
}

.pile-cards-div{
    display: inline-flex
} */